/*---RESET TO ZERO---*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*---RESET TO ZERO---*/
body {
  background-color: rgb(229, 235, 230);

  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: rgb(59, 55, 55);
}

.container {
  max-width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header {
  width: 100%;
}

.header-wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.group-text {
  display: flex;

  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;

  text-align: center;
}

.group-name {
  position: relative;
  background-color: #000;
  padding: 5px 14px;
}

.group-name:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(5, 7, 8, 0);
  border-left-color: #050708;
  border-width: 16px;
  margin-top: -16px;
}

.group-number {
  background-color: rgb(250, 116, 7);
  margin-left: 16px;
  padding: 5px 14px;
}

/* Welcome section */

.welcome-section {
  margin: 140px 0 120px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.preview-img {
  box-shadow: 0 0 50px rgba(251, 105, 8, 0.486);
  padding-top: 6px;
  min-width: 150px;
}

.welcome-text {
  padding: 20px;
  text-align: center;
}

.welcome-title {
  font-size: 40px;
  line-height: 1.3;
  font-weight: 900;
  text-transform: uppercase;

  padding-top: 60px;

  border-bottom: 0.1px solid rgba(250, 116, 7, 0.26);
}

.welcome-subtitle {
  padding-top: 24px;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 900;
  text-transform: uppercase;
}

.text-accent {
  color: rgb(250, 116, 7);
  font-size: 28px;
  letter-spacing: 1px;
}

.welcome-author {
  font-size: 13px;
  font-style: italic;
  text-align: right;

  padding-top: 150px;
}

.welcome-author span {
  color: rgb(250, 116, 7);
}

/* About section */

.about-section {
  min-height: 100px;
  margin: 50px 0 25px;
  padding: 30px 20px;

  text-align: center;

  border: 0.1px solid rgba(250, 116, 7, 0.26);
}

.about-section span {
  color: rgb(250, 116, 7);
}

.about-text {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  font-style: italic;
}

.about-author {
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  text-align: right;
}

/* section Chapter */

.chapter {
  margin: 25px 0;
}

.chapter-title {
  font-size: 24px;
  font-weight: 600;

  margin-bottom: 20px;
}

.chapter-title span {
  color: rgb(250, 116, 7);
}

.chapter-list-title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;

  margin: 10px 0;
}

.list-text {
  padding: 0px 20px;
}

.list-text span {
  color: rgb(250, 116, 7);
  font-weight: 600;
  font-style: italic;
}

.list-text li {
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

/* Media */
@media (max-width: 767px) {
  .header-wrapper {
    padding: 10px;
  }

  .welcome-section {
    height: 100%;
    margin-top: 55px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .welcome-text {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
  }

  .welcome-title {
    font-size: 40px;

    padding-top: 20px;
  }

  .welcome-subtitle {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 600;
    text-transform: uppercase;
  }

  .text-accent {
    color: rgb(250, 116, 7);
    font-size: 14px;
    letter-spacing: 1px;
  }

  .welcome-author {
    font-size: 10px;
    padding-top: 15px;
    padding-left: 120px;
  }

  .about-section {
    margin: 20px 0;
    padding: 30px 20px;
    text-align: center;
    border: 0.1px solid rgba(250, 116, 7, 0.26);
  }
}
